<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Projects all</title>
</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    All Projects
                </div>
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>id</th>
                            <th>name of project</th>
                            <th>budget</th>
                            <th>start</th> <!-- TODO: add to details, not here-->
                            <th>end</th> <!--TODO: add to details, not here-->
                            <th>details</th>
                            <th>delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="project,iter : ${projects}">
                            <td th:text="${iter.count}"></td>
                            <td th:text="${project.id}"></td>
                            <td th:text="${project.nameOfProject}"></td>
                            <td th:text="${project.budget}"></td>
                            <td th:text="${#dates.format(project.startOfProject, 'yyyy-MM-dd')}"></td>
                            <td th:text="${#dates.format(project.endOfProject, 'yyyy-MM-dd')}"></td>
                            <td>
                                <a class="btn btn-primary" th:href="@{'/projects/getProjectDetails/' + ${project.getId()}}">Details</a>
                            </td>
                            <td>
                                <a th:href="@{'/projects/delete/' + ${project.getId()}}" type="button" class="btn btn-default">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>